# Sample config for Prometheus.

global:
  scrape_interval: {{ scrape_interval }}
  evaluation_interval: {{ evaluation_interval }}
  scrape_timeout: {{ scrape_timeout }}

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'example'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
{% if alert_rules_files is undefined %}
rule_files:
  # - "first.rules"
  # - "second.rules"
{% else %}
rule_files:
{% for rulefile in alert_rules_files %}
  - {{ rulefile }}
{% endfor %}
{% endif %}

{% if enable_alertmanager | bool and alertmanager_static_config_targets is defined %}
# Alerting specifies settings related to the Alertmanager
alerting:
  alertmanagers:
    - static_configs:
      - targets:
{% for url in alertmanager_static_config_targets %}
        - {{ url }}
{% endfor %}
{% endif %}

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: {{ prometheus_scrape_interval }}
    scrape_timeout: {{ prometheus_scrape_timeout }}
    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
{% if enable_tls | bool %}
    scheme: 'https'
{% endif %}
    static_configs:
{% if enable_tls | bool %}
      - targets: ['{{ hostvars[inventory_hostname]['ansible_hostname'] }}:9090']
{% else %}
      - targets: ['localhost:9090']
{% endif %}

{% if scrape_local_node_exporter | bool or additional_nodes is defined %}
  - job_name: node
{% if node_exporter_scrape_interval is defined %}
    scrape_interval: {{ node_exporter_scrape_interval }}
{% endif %}
{% if node_exporter_scrape_timeout is defined %}
    scrape_timeout: {{ node_exporter_scrape_timeout }}
{% endif %}
    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
    static_configs:
{% if scrape_local_node_exporter | bool %}
      - targets: ['{{ hostvars[inventory_hostname]['ansible_hostname'] }}:9100']
{% endif %}
{% if additional_nodes is defined %}
{% for host in additional_nodes %}
      - targets: ['{{ host }}:9100']
{% endfor %}
{% endif %}
{%- endif %}
